@model future_1_.Models.Driver

@{
    ViewData["Title"] = "NewPassword";
}

<h1>NewPassword</h1>

<h4>Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewPassword" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DriverId" />

            <input asp-for="TransportationEntityId" class="form-control" type="hidden" />
            <input asp-for="Name" class="form-control" type="hidden" />
            <input asp-for="AccessNumber" class="form-control" type="hidden" />
            <input asp-for="State" class="form-control" type="hidden" />
            <input asp-for="CreationDate" class="form-control" type="hidden" />
            <input asp-for="fleet" class="form-control" type="hidden" />



           
            <p>Inter New Password:</p>
            <input id="p2" class="form-control" required/>
            <p>Re-Inter your new Password:</p>
            <input id="p3" onchange="my()" asp-for="password" class="form-control" required/>

             
            <script>
                function my() {
                    var newPass = document.getElementById("p2").value;
                    var ConfirmPass = document.getElementById("p3").value;

                    if (newPass != ConfirmPass) {

                        alert("your new paassword is not the same of Confirm Password ...!");
                        window.location.reload();

                    }


                }
                
            </script>
            <div class="form-group">
                <input type="submit" id="SubmitButt"  value="Change Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllDrivers">Back to List</a>
</div>


