@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a class="btn btn-outline-success" asp-action="AllRegions" asp-controller="Regions">Regions</a>
    <a class="btn btn-outline-success" asp-action="AllTransportationEntities" asp-controller="TransportationEntities">Transportation Entities</a>
    <a class="btn btn-outline-success" asp-action="AllSchools" asp-controller="Schools">Schools</a>
    <a class="btn btn-outline-success" asp-action="AllDrivers" asp-controller="Drivers">Drivers</a>
    <a class="btn btn-outline-success" asp-action="AllFleets" asp-controller="Fleets">Fleets</a>
</div>
