@model future_1_.Models.TransportationEntity

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>TransportationEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArabicName" class="control-label"></label>
                <input asp-for="ArabicName" class="form-control" />
                <span asp-validation-for="ArabicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnglishName" class="control-label"></label>
                <input asp-for="EnglishName" class="form-control" />
                <span asp-validation-for="EnglishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="website" class="control-label"></label>
                <input asp-for="website" class="form-control" />
                <span asp-validation-for="website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyType" class="control-label"></label>
                <select asp-for="CompanyType" class="form-control" id="CompanyType">
                    <option value="Public">Public</option>
                    <option value="Private">Private</option>
                </select>
                <span asp-validation-for="CompanyType" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="RegionId" class="control-label"></label>

                <select asp-for="RegionId" class="form-control" asp-items="ViewBag.MyRegion"></select>
                <span asp-validation-for="RegionId" class="text-danger"></span><br />
            </div>


          

            @*<div class="form-group">
                <label asp-for="LogoName" class="control-label"></label>
                <input asp-for="LogoName" class="form-control" />
                <span asp-validation-for="LogoName" class="text-danger"></span>
            </div>*@
            <p>Company Logo:</p>
            <div class="form-group">
                <label asp-for="LogoFile" class="control-label"></label>
                <input asp-for="LogoFile" accept="image/*" />
                <span asp-validation-for="LogoFile" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllTransportationEntities">Back to List</a>
</div>


