@model future_1_.Models.TransportationEntity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TransportationEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransportationEntityId" />
            <div class="form-group">
                <label asp-for="ArabicName" class="control-label"></label>
                <input asp-for="ArabicName" class="form-control" />
                <span asp-validation-for="ArabicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnglishName" class="control-label"></label>
                <input asp-for="EnglishName" class="form-control" />
                <span asp-validation-for="EnglishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="website" class="control-label"></label>
                <input asp-for="website" class="form-control" />
                <span asp-validation-for="website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyType" class="control-label"></label>
                <select asp-for="CompanyType" id="CompanyType">
                    <option value="Public">Public</option>
                    <option value="Private">Private</option>
                </select>
                <span asp-validation-for="CompanyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <select asp-for="RegionId" asp-items="ViewBag.MyRegion" class="form-control">  </select>
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <input asp-for="LogoName" class="form-control" type="hidden" />

        </form>
    </div>
</div>

<div>
    <a asp-action="AllTransportationEntities">Back to List</a>
</div>


